.form-block
	form.form-block__form#form
		.form-block__field-block
			input(type="text", placeholder="Ваше имя", id="name").form-block__input
		.form-block__field-block
			input(type="email", placeholder="Email", id="email").form-block__input
		button(type="submit").green-btn.form-block__green-btn Получить консультацию
	.form-block__figure1-div
		img(src=require("../img/services-page/marketing-img1.png") alt="Figure image").form-block__figure-img
	.form-block__figure2-div
		img(src=require("../img/services-page/marketing-img1.png") alt="Figure image").form-block__figure-img
	.form-block__figure3-div
		img(src=require("../img/services-page/marketing-img1.png") alt="Figure image").form-block__figure-img



