.medium-title {
  font-size: 30px;
  line-height: 36.57px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1.2px;

  @include l {
    font-size: 22px;
  }

  @include m {
    font-size: 18px;
    line-height: 21.94px;
  }
}