.overlay {
  text-align: center;
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1000;
  right: 0;
  top: 0;
  background-color: $lightGrey;
  overflow-x: hidden;
  transition: 0.5s;

  //@include xl {
  //  width: 0;
  //}
  //
  //@include m {
  //  width: 100%;
  //}

  &__content {
    position: relative;
    top: 11%;
    width: 100%;
  }

  &__close-btn-div {
    text-align: left;
    padding-left: 15px;
    padding-top: 5px;
    font-size: 25px;
  }

  &__nav-list {
    padding-left: 0;
    font-size: 16px;
    line-height: 19.2px;
    text-transform: uppercase;
    margin-bottom: 117px;
  }

  &__nav-item {
    display: block;
    margin-left: 0;
    margin-bottom: 45px;

    &:hover {
      font-weight: 700;
      cursor: pointer;
    }
  }

  &__nav-link {
    color: inherit;
    text-decoration: none;
  }

  &__logo-img {
    width: 70px;
    height: 70px;
    margin-bottom: 59px;
  }

  &__btn-icon {
    border: none;
    background: transparent;
    font-size: 47px;

    &:hover {
      color: $blue;
      cursor: pointer;
    }
  }
}